.nav1 {
  background-color: #003C8D;
  width: 1000px;
  position: absolute;
  left: 250px;
}
.bg4 {
  background-image: url(https://img3.akspic.ru/originals/9/0/3/0/20309-liniya-pittsburgskie_pingviny-sinij_cvet-temnota-prostranstvo-1080x1920.jpg);
  font-family: Tahoma,Helvetica,sans-serif;

}
.navbar {
  width: 1000px;
  position: absolute;
  left: 250px;
  top: 120px;
  background-color:#0150BB;
}
.navbar a {
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
}

.navbar a:hover {
  background-color:  #003C8D;

}
.btn {
  background-color: white;
}
.mylig {
  width: 212px;
  height: 730px;
  background-color: #414141;
  margin-left: 10px;
  margin-top: 10px;

}
.main {
  width: 1000px;
  position: absolute;
  left: 0px;
  top: 69px;
  background-color: #232323
}
.active {
  background-color: #706F6F;
  color: black ;
  font-size: 26px;
  font-family: Tahoma,Helvetica,sans-serif;

}
.fas {
  color: #A60000;
}
.mylig2 {
  width: 212px;
  height: 267px;
  background-color: #414141;
  margin-left: 10px;
  margin-top: 10px;

}
.lig3{
  width: 98.2%;
  height: 50px;
  background-color: #414141;
  margin-left: 10px;
  margin-top: 10px;

}
.raspis{
  width: 762px;
  height: 1008px;
  background-color: #414141;
  margin-left: 230px;
  bottom: 60px;
  position: absolute;
}
.collapsible {
  background-color: #414141;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.collapsible:hover {
  background-color: #003C8D;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #232323;
}
.navbar-brand {
  width: 100%;
}
.form-control {
  width: 120px;
}
